<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Brewery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">



</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Find your Brewery</h1>
        <p>Use the interactive charts below to explore breweries in the world</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="/beer_filter" role="button">Find a Brewery</a></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h3>City/Country:</h3>
          <select id="selectpicker" onchange="optionChangedC(this.value)"></select>
        </div>
        <div class="well">
          <h3>Brewery Type:</h3>
          <select id="selDataset" onchange="optionChangedT(this.value)"></select>
        </div>
        
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>


      <!-- <div class="row">
        <h1> Latest Breweries</h1>
        {% for i in data_untappd %}
        <p>{{ i['brewery_name'] }} </p>
        {% endfor %}

      </div> -->

    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
    

 
</body>

</html>